################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ONPCalculator/bin/Debug/ONPCalculator.vshost.exe.manifest
/ONPCalculator/bin/Debug/ONPCalculator.vshost.exe.config
/ONPCalculator/bin/Debug/ONPCalculator.vshost.exe
/ONPCalculator/bin/Debug/ONPCalculator.exe.config
/ONPCalculator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ONPCalculator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ONPCalculator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ONPCalculator/obj/Debug/ONPCalculator.csproj.FileListAbsolute.txt
/ONPCalculator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ONPCalculator.Common/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ONPCalculator.Common/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ONPCalculator.Common/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ONPCalculator.Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
